.nav-container {
  flex-direction: row;
  justify-content: space-between;
}

.navbar-brand {
  margin: 0;
}

.navbar-nav {
  flex-basis: 100%;
  align-items: center;
}

.navbar-collapse {
  justify-content: space-around;
  flex-grow: 0.8;
}

.container {
  padding: 0;
}

.navbar > .container, .navbar > .container-fluid {
  /* Prevent navbar from wrapping on mobile */
  flex-wrap: nowrap; 
}